.image {
  height: 100px;
  width: auto;
  
}

h1,h2{
    text-align: center;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mallardDuck{
    padding-top: 10px;
}

.container {
   display: flex;
  flex-wrap: wrap;

}

.menu {
   display: flex;
  justify-content: center;
  align-items: center;
}

.canFly{
 animation: fly-animation 5s;
    position: relative;
}

@keyframes fly-animation{
    from{
        top: 0;
        left: 0;
    }
    40%{
        top: -400px;
        left: 600px;
    }
    70%{
        top: 0;
    }
    to{
        top: 0;
        left: 0;
    }
}
