* {
  background-color: #fff;
  color: black;
}

.main {
  display: flexbox;
}
.heading1 {
  display: inline;
  float: left;
  padding-left: 30px;
  font-size: 3em;
}

.heading2 {
  display: inline;
  float: right;
  padding-right: 30px;
  font-size: 3em;
}

.react {
  padding-top: 60px;
}
.react h1 {
  display: inline;
  font-size: 2.6em;
}
.react img {
  display: inline;
  width: 190px;
  height: auto;
  padding-bottom: 20px;
}

.heading3 {
  text-align: center;
}

.menu {
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.buttoom {
  margin-left: 50px;
  width: 20% !important;
  height: auto !important;
  font-weight: bolder;
}
.buttoom :hover {
  background-color: RGB(229, 9, 20);
}

.canFly {
  animation: fly-animation 5s;
  position: relative;
}

.image {
  height: 70px;
  width: auto;
  background-color: none;
}

@keyframes fly-animation {
  from {
    top: 0;
    left: 0;
  }
  40% {
    top: -400px;
    left: 600px;
  }
  70% {
    top: 0;
  }
  to {
    top: 0;
    left: 0;
  }
}

.duck {
  margin: 10px;
  width: 100%;
}

.eventButton {
  margin: 4px;
}

.inline {
  display: inline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 0px;
  border: 15px solid green;
  padding-top: 10px;
  margin: 0px;
}

.Grid {
  box-shadow: 0px 0px 3px 0px #828282;
}

.behaviour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.apiData {
   padding-left: 20px;
}
